<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Edit</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous">
    </head>
    <body>

        <div class="container d-flex justify-content-center ">
            <div class="row">
                <div class="col-lg-12 border-3 shadow">
                    <div class="form-group row">
                        <label class=" col-form-label"></label>
                            <h3>Update Details</h3>
                    </div>
                    <form method="POST" action="/employee/{{employee.id}}/edit" class="mb-3 "
                        enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group  mb-3">
                            
                            <label for="eimage" class=" col-form-label">Employee
                                Image</label>
                                <input type="file" class="form-control" name="eimage" id="eimage" accept=".jpg, .jpeg, .png"
                                  
                                    maxlength="100" />
                                 {% if employee.eimage %}
                            <img src="{{employee.eimage.url }}" height="100px" width="100px">   
                            {% else %}
                            <!-- <img text = "No Image" > -->
                            {% endif %}
                        </div>

                        <div class="form-group  mb-3">
                            <label class=" col-form-label">Employee
                                Id:</label>
                                <input type="text" name="eid"
                                    id="id_eid"
                                    required
                                    class="form-control"
                                    maxlength="20"
                                    value="{{ employee.eid }}" />
                        </div>
                        <div class="form-group mb-3">
                            <label class="col-form-label">Employee
                                Name:</label>
                                <input type="text" name="ename"
                                    id="id_ename"
                                    class="form-control"
                                    required
                                    maxlength="100"
                                    value="{{ employee.ename }}" />
                        </div>
                        <div class="form-group mb-3">
                            <label class="col-form-label">Employee
                                Email:</label>
                                <input type="text" name="eemail"
                                    id="id_eemail"
                                    class="form-control"
                                    required
                                    maxlength="254"
                                    value="{{ employee.eemail }}" />
                                {% if form.errors.eemail %}
                                <small class="text-danger">{{
                                    form.errors.eemail
                                    }}</small>
                                {% endif %}
                        </div>
                        <div class="form-group mb-3">
                            <label class=" col-form-label">Employee
                                Phone:</label>
                                <input type="text" name="ephone"
                                    id="id_ephone"
                                    class="form-control"
                                    required
                                    maxlength="20"
                                    value="{{ employee.ephone }}" />
                        </div>
                        <div class="form-group mb-3">
                            <label class=" col-form-label">Employee
                                Age:</label>
                                <input type="text" name="eage"
                                    id="id_eage"
                                    class="form-control"
                                    required
                                    maxlength="20"
                                    value="{{ employee.eage }}" />
                        </div>
                        <div class="form-group mb-3">
                            <label class=" col-form-label"></label>
                                <button type="submit"
                                    class="btn btn-primary">Update</button>
                        </div>
                        </form>
                    </div>
                </div>

                <script
                    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                    crossorigin="anonymous">
                </script>

            </body>
        </html>
